@use '../../theme.scss';

@mixin tab {
  height: 45px;
  width: 100%;
  border: 0px;
  color: theme.$WHITE_1;
  letter-spacing: 4px;
  cursor: pointer;
}

.tabs-container {
  height: 100%;
}

.tabs-buttons {
  height: 49px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 35px 39px -2px theme.$BOX_SHADOW_COLOR;
}

.default-tab-button {
  @include tab;

  background-color: theme.$GREY_1;
  z-index: 0;

  &:hover {
    background-color: theme.$GREY_2;
  }
}

@mixin active-tab-button($COLOR) {
  @include tab;

  background-color: theme.$GREY_3;
  z-index: 1;
  border-radius: 3px;
  border-bottom: 4px solid $COLOR;
  font-size: 17px;
}

.active-tab-button-RED {
  @include active-tab-button(theme.$RED);
}

.active-tab-button-YELLOW {
  @include active-tab-button(theme.$YELLOW);
}

.active-tab-button-PINK {
  @include active-tab-button(theme.$PINK);
}

.active-tab-button-BLUE {
  @include active-tab-button(theme.$BLUE);
}
