@use '../../theme.scss';

.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  cursor: move;
}

.total-money {
  position: absolute;
  left: 380px;
  display: flex;
  align-items: center;
  color: theme.$YELLOW;
  font-size: 24px;

  span {
    letter-spacing: 5px;
  }
}
