@use '../../theme.scss';

.sidebar {
  width: 350px;
  height: 100vh;
  background-color: theme.$GREY_4;
  position: absolute;

  &-left {
    left: 0;
    font-family: inherit;
  }

  &-right {
    right: 0;
  }
}
