@font-face {
  font-family: 'Karmatic Arcade';
  src: url('/fonts/ka1.ttf');
}

.App {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: 'Karmatic Arcade' !important;
  font-size: 16px;
}

button {
  font-family: 'Karmatic Arcade' !important;
}

input {
  margin: 0px;
  padding: 0px;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 3px;
}

#root {
  height: 100vh;
}
