$RED: #fb4040;
$YELLOW: #ffdb00;
$PINK: #fa477f;
$BLUE: #4794fa;
$BLUE_1: #2469c4;

$BOX_SHADOW_COLOR: rgba(0, 0, 0, 0.55);

$GREY_1: #313031;
$GREY_2: #2c2c2c;
$GREY_3: #3c3c3c;
$GREY_4: #1d1d1d;

$WHITE_1: #d3d3d3;

$BLACK_1: #000000;
