@use '../../../theme.scss';

.tab-container {
  height: 95vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.craft-tab {
  &__button-container {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    background-color: theme.$GREY_3;
    border: none;
    border-radius: 2px;
    height: 250px;
    width: 250px;
    cursor: pointer;
    font-size: 45px;
  }

  &__items {
    overflow-y: scroll;
    height: 350px;
  }

  &__items-list {
    background-color: theme.$GREY_1;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 15px;
    padding-bottom: 0px;
  }
}

.blueprints-tab {
  &__container {
    height: 90vh;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 250px;
    height: 60px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: theme.$BLUE;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid theme.$BLUE_1;
    color: theme.$BLACK_1;
    font-size: 16px;
    letter-spacing: 3px;
  }
}

.resources-shop-tab {
  &__container {
    height: 90vh;
  }
}
